.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.secondary-background{
    background-color: rgba(78, 71, 255, 0.1);
}
.button-color{
    color: #FFFFFF;
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.button-action{
    font-size: 16px;
}
.button-banner{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    position: relative;
    /* margin-bottom: 35px 0px 152px 0px; */
}
.banner{
    text-align: center;
    font-size: 65px;
}

.background-image{
    background-image: url(../Assets/Hero-bg.png);
}
.section-title{
    font-size: 38px;
    font-weight: bold;
    color: #252432;
}

/* Nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
}
nav ul li{
    list-style: none;
}
/* action styels */
.action-1{
    display: flex;
    justify-content: space-around;
    margin-top: 115px;
}
.action-content{
    max-width: 515px;
    text-align: left;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 0px;
}
.action-profile-pic{
    width: 380px;
    border-radius: 48px;
}
.action-description{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    font-weight: bold;
    margin-bottom: 0px;
}
.button-action{
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #4E47FF;
    border-radius: 10px;
    border: none;
    padding: 12px 36px;
    margin: 23px 0px 62px;
}
/* main section styles */
section{
    max-width: 1140px;
    margin: 0px auto;
}

/* action2 styles */
.action2{
    border-radius: 24px;
    margin-top: 116px;
    padding: 50px 142px;
}
.productive-user-section{
    display: flex;
    justify-content: space-around;
}
.productive-title{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
    margin: 0px;
}
.productive-description{
    font-size: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 0px;
}
/* reviews-container section */
.reviews-container{
    display: flex;
    justify-content: space-around;
    text-align: left;
    gap: 20px;
}
.review-title{
    color: rgba(30, 30, 30, 1);
    font-size: 24px;
    font-weight: 600;

}
.review-description{
    color: rgba(30, 30, 30, 1);
    font-size: 20px;

}
.feedback-section{
    font-size: 42px;
    font-weight: bold;
    margin-top: 135px;
}
.feedback-name{
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 600;

}
.feedback-date{
    color: rgba(179, 179, 179, 1);
    font-size: 16px;
}
/* login form section */
.login-section{
    display: flex;
    /* justify-content: space-around; */
    text-align: right;
}
.login-title{
    text-align: left;
    font-size: 80px;
    font-weight: bold;
}
.login-form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 163px;
}
.label-text{
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    margin-top: 19px;
}
.box-name-padding{
    padding: 20px 255px 20px 32px;
    border-radius: 10px;
    color: rgba(214, 221, 237, 1);
    margin-top: 10px;
}
.box-email-padding{
    padding: 20px 255px 20px 32px;
    border-radius: 10px;
    color: rgba(214, 221, 237, 1);
    margin-top: 10px;

}
.box-message-padding{
    padding: 20px 257px 85px 32px;
    border-radius: 10px;
    color: rgba(214, 221, 237, 1);
    margin-top: 10px;
}
.title-label{
    display: flex;
    flex-direction: column;
}
.submit-btn{
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    background-color: rgba(78, 71, 255, 1);
    border: none;
    padding: 20px 201px 20px 201px;
    border-radius: 10px;
}
input::placeholder{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
textarea::placeholder{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
/* footer section styels */
.footer-title{
    color: rgba(78, 71, 255, 1);
    font-size: 100px;
    font-weight: 900;
}
.footer-description{
    color: rgba(137, 135, 161, 1);
    font-size: 16px;
    font-weight: 400;
}

.footer-nav-bar{
    display: flex;
    justify-content: space-around;
}
.footer-section{
    max-width: 531px;
}
.nav-title{
    color: rgba(137, 135, 161, 1);
    font-size: 16px;
    font-weight: 400;
}




